<template name="accountComponent">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>アカウント_Account</h4>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th>アニメタイトル</th>
                <th>視聴日</th>
                <th>投げ銭</th>
                <th>共有</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>animeTitle</td>
                <td>viewingDate</td>
                <td>paymentToken</td>
                <td>shareAnime</td>
              </tr>
              <tr>
                  <td>animeTitle2</td>
                  <td>viewingDate2</td>
                  <td>paymentToken2</td>
                  <td>shareAnime2</td>
                </tr>
            <!--
            　{{#each accounts}}
                {{> accountBalanceItem}}
              {{/each}}
             -->
            </tbody>
          </table>
        </div>
</template>
      <!--
      <template name="accountBalanceItem">
        <tr>
          <td>{{name}}</td>
          <td>{{address}}</td>
          <td>{{balance}}</td>
        </tr>
      </template>
      -->