<template name="videoComponent">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4>動画_Video</h4>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th>タイトル</th>
                <th>カテゴリー</th>
                <th>リリース</th>
                <th>最新話</th>
                <th>アドレス</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td>animeTitle</td>
                <td>animeCategory</td>
                <td>releaseDaytime</td>
                <td>lateStstory</td>
                <td>animeAdress</td>
            </tr>
            <!--
            　{{#each accounts}}
                {{> accountBalanceItem}}
              {{/each}}
             -->
            </tbody>
          </table>
        </div>
</template>
      <!--
      <template name="accountBalanceItem">
        <tr>
          <td>{{name}}</td>
          <td>{{address}}</td>
          <td>{{balance}}</td>
        </tr>
      </template>
      -->